@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";


:root{

  /* Light Mode Default */
  --bg-main: #cdd0d521;
  --bg-card: #ffffff;
  --text-main: #111111;
  --text-muted: #383838;
  --border-color: #e6e6e6;

  --primary-gradient: linear-gradient(90deg,#00cc66,#6a5cff);
  --home-bg: radial-gradient(circle at 5% 60%, rgba(0, 204, 102, 0.27), transparent 35%),
  radial-gradient(circle at 90% 70%, rgba(169, 85, 247, 0.285), transparent 50%),
  radial-gradient(circle at 50% 80%, rgba(0, 0, 0, 0.03), transparent 50%),
  #f7f9fc;

  --grid-color:rgba(0, 0, 0, 0.149);
  --card-bg:white;
  --card-border:rgba(0,0,0,0.1);

  --light-glow-green:rgba(0,204,102,0.12);
  --light-glow-purple:rgba(106,92,255,0.12);
   /* Light Mode */
   --footer-bg:#f5f7fb;
   --footer-border:#e5e7ef;
   --footer-text:#222;
   --footer-muted:#666;
   --footer-card:#ffffff;
   --boder-footer:rgba(0, 0, 0, 0.448);
   --cta-bg:#ffffff;
   --cta-card-bg:#ffffff;
   --cta-border:#e6e6e6;
   --cta-muted:#555;
   --secondary-bg:#f1f3f9;
   --dropdown-bg:#ffffff;
   --dropdown-menu:#ffffff00;

   --dropdown-border:#000000;
   --dropdown-text:#111;
   --dropdown-hover:#f3f5fa;
   --dropdown-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* =========================
   DARK MODE
========================= */

body.dark-mode{

  --home-bg:
  radial-gradient(circle at 5% 50%, rgba(111, 223, 171, 0.156), transparent 38%),
  radial-gradient(circle at 90% 60%, rgba(211, 61, 245, 0.139), transparent 35%),
  radial-gradient(circle at 20% 20%, rgba(23, 21, 57, 0.15), transparent 6px),
  #000000;
  --grid-color:rgba(255,255,255,0.04);
  --card-bg:rgba(20,20,35,0.9);
  --card-border:rgba(255,255,255,0.05);
  --light-glow-green:rgba(0, 255, 136, 0.09);
  --light-glow-purple:rgba(108,99,255,0.15);
  --bg-card: rgb(0, 0, 0);
  --text-main: #ffffff;
  --text-muted: #ffffff;
  --border-color: rgba(255,255,255,0.1);
  --footer-bg:#0b0b12;
  --footer-border:rgba(255,255,255,0.05);
  --footer-text:#ffffff;
  --footer-muted:#888;
  --footer-card:#1a1a25;
  --boder-footer:#ffffffca;

  --cta-bg:radial-gradient(circle at 50% 50%, rgba(0,255,136,0.1), transparent 60%);
  --cta-card-bg:rgba(20,20,35,0.9);
  --cta-border:rgba(255,255,255,0.05);
  --cta-muted:#aaa;
  --secondary-bg:#2a2a3a;

  --dropdown-bg:#0f0f18;
  --dropdown-border:rgba(0,255,136,0.3);
  --dropdown-text:#ffffff;
  --dropdown-menu:#0f0f18;
  --dropdown-hover:rgba(0,255,136,0.08);
  --dropdown-shadow:0 0 25px rgba(0,255,136,0.4);
}

/* =========================
   GLOBAL
========================= */

body{
  padding: 0;
  margin: 0;
  background: var(--home-bg);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  transition: background 0.4s ease, color 0.4s ease;
}

/* Sections */
.section{
  padding:120px 8%;
}

/* Cards */
.card{
  background: var(--bg-card);
  border:1px solid var(--border-color);
  border-radius:20px;
  transition:0.3s ease;
}

/* Text */
p{
  color: var(--text-muted);
}

/* Inputs */
input, select{
  background: var(--bg-card);
  border:1px solid var(--border-color);
  color: var(--text-main);
}

/* Buttons */
.primary{
  background: var(--primary-gradient);
  color:white;
  border:none;
}

/* Navbar */
.navbar{
  background: var(--bg-card);
  backdrop-filter: blur(12px);
}
/* ========================= */
/* Section Spacing */
/* ========================= */

.section{
  padding:120px 8%;
  position:relative;
  z-index:1;
}

/* ========================= */
/* Gradient Text */
/* ========================= */

.gradient-text{
  background:linear-gradient(90deg,#00ff88,#7f5cff,#ff4df8);
  background-clip:text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  color:transparent; /* fallback */
}

/* ========================= */
/* Cards */
/* ========================= */

/* .card{
  background:rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);
  border-radius:20px;
  backdrop-filter:blur(12px);
  transition:transform 0.4s ease, box-shadow 0.4s ease;
} */

.card:hover{
  transform:translateY(-12px);
  box-shadow:
    0 10px 40px rgba(140,0,255,0.25),
    0 0 25px rgba(0,255,136,0.2);
}
.back-btn{
  background:none;
  border: solid 1px #00ff88;
  color:#edebf5;
  cursor:pointer;
  font-size:14px;
  margin-bottom:20px;
  transition:0.3s ease;
  padding: 10px;
  border-radius: 7px;
}

.back-btn:hover{
  transform:translateX(-4px);
  color:#00ff88;
}

/* ========================= */
/* Scroll Reveal */
/* ========================= */

.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

/* ========================= */
/* Buttons */
/* ========================= */

.primary{
  background:linear-gradient(90deg,#00ff88,#7f5cff);
  border:none;
  transition:all 0.35s ease;
}

.primary:hover{
  transform:scale(1.07);
  box-shadow:
    0 0 20px rgba(0,255,136,0.6),
    0 0 35px rgba(127,92,255,0.5);
}

.outline{
  border:1px solid rgba(255,255,255,0.2);
  background:transparent;
  transition:all 0.3s ease;
}

.outline:hover{
  background:linear-gradient(90deg,#00ff88,#7f5cff);
  color:black;
  border-color:transparent;
}
/* ========================= */
/* Auth Pages */
/* ========================= */

.auth-section{
  min-height:170vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:40px 20px;
  flex-wrap:wrap;
  background:
  radial-gradient(circle at 30% 20%, rgba(0,255,136,0.05), transparent 40%),
  radial-gradient(circle at 80% 80%, rgba(140,0,255,0.07), transparent 50%),
  #05070d;
}
.auth-section-log{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:40px 20px;
  flex-wrap:wrap;
  background:
  radial-gradient(circle at 30% 20%, rgba(0,255,136,0.05), transparent 40%),
  radial-gradient(circle at 80% 80%, rgba(140,0,255,0.07), transparent 50%),
  #05070d;
}
.auth-card{
  width: 100%;
  max-width: 520px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 100px 180px;
  text-align: center;
}

.auth-card h2{
  margin-bottom:10px;
  color: white;
}

.subtitle{
  color:#aaa;
  font-size:14px;
  margin-bottom:30px;
}

.input-group{
  text-align:left;
  margin-bottom:20px;
}

.input-group label{
  font-size:13px;
  color:#bbb;
  display:block;
  margin-bottom:6px;
}

.input-group input{
  width: 98%;
  padding: 15px 25px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  color: white;
  outline: none;
  transition: 0.3s ease;
}

.input-group input:focus{
  border-color:#7f5cff;
  box-shadow:0 0 15px rgba(127,92,255,0.3);
}

.primary-btn{
  position:relative;
  border:none;
  padding:12px 20px;
  border-radius:30px;
  font-weight:600;
  cursor:pointer;
  color:white;

  background:linear-gradient(
    270deg,
    #00ff88,
    #7f5cff,
    #ff4df8,
    #00ff88
  );

  background-size:400% 400%;

  animation:gradientMove 6s ease infinite;

  transition:transform 0.3s ease, box-shadow 0.3s ease;
}
.primary-btn:hover::before{
  opacity:1;
  animation:borderMove 4s linear infinite;
}

.primary-btn.full{
  width:50%;
  margin-top:10px;
  font-size: 100%;
  font-weight: 900;
}

.primary-btn:hover{
  border: solid 1px  #ff4df98a;

    opacity:1;
    animation:borderMove 4s linear infinite;
}

.switch{
  margin-top:20px;
  font-size:14px;
  color:#aaa;
}

.switch a{
  color:#7f5cff;
  text-decoration:none;
}

.switch a:hover{
  text-decoration:underline;
}
.auth-card::before{
  content:"";
  position:absolute;
  inset:0;
  padding:2px;
  border-radius:20px;

  background:linear-gradient(
    90deg,
    #00ff88,
    #7f5cff,
    #ff4df8,
    #00ff88
  );

  background-size:300% 300%;
  opacity:0;
  transition:opacity 0.4s ease;
  z-index:-1;

  /* Safari */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  /* Standard */
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

/* عند الـ Hover */
.auth-card:hover::before{
  opacity:1;
  animation:borderMove 4s linear infinite;
}

/* Animation */
@keyframes borderMove{
  0%{
    background-position:0% 50%;
  }
  50%{
    background-position:100% 50%;
  }
  100%{
    background-position:0% 50%;
  }
}
@keyframes gradientMove{
  0%{
    background-position:0% 50%;
  }
  50%{
    background-position:100% 50%;
  }
  100%{
    background-position:0% 50%;
  }
}
