<section class="auth-section">

  <div class="auth-card">

    <h2>Create Account 🚀</h2>
    <p class="subtitle">Join the squad and start swapping skills</p>
    <button class="back-btn" routerLink="/"><i class="bi bi-box-arrow-in-left"></i>
       Back to Home
    </button>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">

      <div class="row">
        <div class="input-group">
          <label>User Name</label>
          <input formControlName="userName" type="text" placeholder="Username">
        </div>

        <div class="input-group">
          <label>Email</label>
          <input formControlName="email" type="email" placeholder="Email">
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <label>Confirm Email</label>
          <input formControlName="confirmEmail" type="email" placeholder="Confirm Email">
        </div>

        <div class="input-group">
          <label>Gender</label>
          <select formControlName="gender">
            <option value="">Select</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <label>First Name</label>
          <input formControlName="firstName" type="text" placeholder="First Name">
        </div>

        <div class="input-group">
          <label>Last Name</label>
          <input formControlName="lastName" type="text" placeholder="Last Name">
        </div>
      </div>


      <div class="row">
        <div class="input-group">
          <label>Password</label>
          <input formControlName="password" type="password" placeholder="Password">
        </div>

        <div class="input-group">
          <label>Phone Number</label>
          <input formControlName="phoneNumber" type="text" placeholder="Phone">
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <label>Date Of Birth</label>
          <input formControlName="dateOfBirth" type="date">
        </div>

        <div class="input-group">
          <label>City</label>
          <input formControlName="city" type="text" placeholder="City">
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <label>Country</label>
          <input formControlName="country" type="text" placeholder="Country">
        </div>

        <div class="input-group">
          <label>National ID</label>
          <input formControlName="nationalId" type="text" placeholder="National ID">
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <label>University</label>
          <input formControlName="university" type="text" placeholder="University">
        </div>

        <div class="input-group">
          <label>Major</label>
          <input formControlName="major" type="text" placeholder="Major">
        </div>
      </div>
      <button type="submit" class="primary-btn full">
        Register
      </button>

    </form>

    <p class="switch">
      Already have an account?
      <a routerLink="/login">Log in</a>
    </p>

  </div>

</section>
