.cta-section{
  display:flex;
  justify-content:center;
  padding:120px 20px;
  background: var(--home-bg);
  transition:0.4s ease;
}

.cta-card{
  width:100%;
  max-width:900px;
  background:var(--cta-card-bg);
  border:1px solid var(--cta-border);
  border-radius:25px;
  padding:60px 40px;
  text-align:center;
  backdrop-filter:blur(20px);
  transition:0.4s ease;
  padding-bottom: 34px;
}

.cta-card p{
  color:var(--cta-muted);
  padding: 4px;
  margin-bottom: 53px;
}

.secondary-btn{
  background:var(--secondary-bg);
  border:1px solid var(--cta-border);
  padding:12px 28px;
  border-radius:30px;
  cursor:pointer;
  transition:0.3s;
}

.secondary-btn:hover{
  background:#6c63ff;
  color:white;
}