<section class="section steps reveal">
  <h2>What do you wanna <span class="gradient-text">master?</span></h2>

  <div class="skills-grid">
    <div class="card skill" ><i class="bi bi-code"></i>Coding</div>
    <div class="card skill"><i class="bi bi-apple-music"></i>Music</div>
    <div class="card skill"><i class="bi bi-camera"></i>Photo/Video</div>
    <div class="card skill"><i class="bi bi-palette"></i>Design</div>
    <div class="card skill"><i class="bi bi-person-arms-up"></i>Fitness</div>
    <div class="card skill"><i class="bi bi-translate"></i>Languages</div>
    <div class="card skill"><i class="bi bi-coin"></i>Finance</div>
    <div class="card skill"><i class="bi bi-patch-plus"></i>Content Creation</div>
  </div>
</section>
